# --- POSTGRES ---
POSTGRES_DB=docklite
POSTGRES_USER=docklite
POSTGRES_PASSWORD=changeme
DB_PORT=5432

# --- BACKEND ---
BACKEND_PORT=3000
JWT_SECRET=supersecret

# URL interna para el backend (desde el contenedor)
DATABASE_URL=postgresql://docklite:changeme@db:5432/docklite
